{{ define "main" }}

<h1>{{ .Title }}</h1>

{{ if .Content }}
    {{ .Content }}
{{ else }}
<table class="table">
    <thead>
        <tr>
            <th>Roll</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {{ range sort .Pages ".Params.d12_result" "asc" }}
            <tr>
                <td>{{.Params.d12_result}}</td>
                <td>
                    {{ if .Content }}<a href="{{ .Permalink}}">{{ end }} {{.LinkTitle}} {{ if .Content }}</a>{{ end }}</td>
            </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}

{{ end }}
