{{ $data := (index .Site.Data.magic (.Get "ref") ) }}
{{ $show_fluff := (.Get "fluff")}}
{{ if $show_fluff }}
{{ else }}
{{ $show_fluff = false }}
{{ end }}

{{ if $show_fluff }}
<p>
{{ $data.fluff | markdownify }}
</p>
{{ end }}
<table class="table table-borderless table-sm">
    <thead>
        <th>Difficulty</th>
        <th>Name</th>
    </thead>
    <tbody>
        {{range $data.spells}}
            {{ template "spell" dict "data" . "fluff" $show_fluff }}
        {{end}}
    </tbody>
</table>

{{- define "spell" -}}
<tr>
    <th class="text-center">{{ .data.difficulty }}+</th>
    <th>{{ .data.d6 }} - {{ .data.name }}</th>
</tr>
<tr>
    <td></td>
    <td>
        {{ if .fluff }}<p class="font-italic">{{ .data.fluff | markdownify }}</p>{{ end }}
        <p>{{ .data.description | markdownify }}</p>
    </td>
</tr>

{{- end -}}